language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
env:
  - NODE_ENV=production
script:
  - npm test
  - npm run build
deploy:
  provider: surge
  skip_cleanup: true
  domain: ClearLaunchAllistair.surge.sh
  project: ./dist/
on:
  branch: master