language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
install:
  - npm install
env:
  - NODE_ENV=production
before_script:
  - npm run build
script:
  - npm test
deploy:
  provider: surge
  skip_cleanup: true
  domain: ClearLaunchAllistair.surge.sh
  project: ./dist/
on:
  branch: master